/******************** GENERIC ********************/

/*****
* Redmine Core CSS-Overloads for Collapse
*****/

/***** Overloading Redmine Core layout-selectors *****/
#main {
    background-color: inherit; /* not in IE7 */
    padding: 2px 0px 0px 14px;
}
html>body #content {
    height: auto;
    min-height: 600px;
    overflow: auto;
}

/******************** DEFAULT THEME ********************/

/*****
* CSS for Collapse (Left)
*****/

/***** The box wherein the sidebar resides *****/
#main #leftmenu-default #leftmenu {
    float: left;
    min-height: 600px;
    padding: 0;
    position: relative;
    margin-right: 15px;
}

/***** The seperator between the box wherein the sidebar resides and the content *****/
#main #leftmenu-default #leftmenu #leftmenu-border {
    position: absolute;
    right: -5px;
    top: 35px;
    height: 95%;
    width: 5px;
    background-image: url(../images/border_collapse.gif);
    background-repeat: no-repeat;
    background-position: 0 90px;
    background-color: #CCCCCC;
    cursor:pointer;
}

/***** The actual sidebar wherein tabs reside *****/
#main #leftmenu-default #leftmenu #leftmenu-contents {
    margin-bottom: 5em;
    position: relative;
    width: 210px;
}

/*****
* CSS for Left Collapse Tabs
*****/

/***** The global tab layout *****/
#leftmenu-default #leftmenu .tabs {
    height: 2.95em;
    border-bottom: 1px solid #BBBBBB;
    position: relative;
}
#leftmenu-default #leftmenu .tab-content { margin-top: 1.2em; }

#leftmenu-default #leftmenu .tabs ul {
    margin: 0;
    position: absolute;
    bottom: -2px;
    padding-left: 6px;
}
#leftmenu-default #leftmenu .tabs>ul { bottom: -1px; } /* others */
#leftmenu-default #leftmenu .tabs ul li {
    float: left;
    list-style-type: none;
    margin-right: 4px;
    background: #FFF;
}
#leftmenu-default #leftmenu .tabs ul li a{
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 1.3em;
    padding: 4px 6px 4px 6px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #BBBBBB;
    background-color: #EEEEEE;
    color: #777;
    font-weight: bold;
}
#leftmenu-default #leftmenu .tabs ul li a:hover {
    background-color: #FFFFDD;
    text-decoration: none;
}
#leftmenu-default #leftmenu .tabs ul li a.selected {
    background-color: #FFF;
    border: 1px solid #BBBBBB;
    border-bottom: 1px solid #FFF;
}
#leftmenu-default #leftmenu .tabs ul li a.selected:hover {
    background-color: #FFF;
}

/***** The actions tab *****/
#main #leftmenu-default #leftmenu #tab-content-actions-tab {
}

/***** The menus tab *****/
#main #leftmenu-default #leftmenu #tab-content-menus-tab  #main-menu {
  margin-right: 0px;
  position: static;
}
#main #leftmenu-default #leftmenu #tab-content-menus-tab  #main-menu ul li {
  float:none;
  list-style-type:none;
}

#main #leftmenu-default #leftmenu #tab-content-menus-tab  #main-menu li a {
  display: block;
  color: #2A5685;
  text-decoration: none;
  padding: 4px 10px 4px 0px;
  font-weight: normal;
}
#main #leftmenu-default #leftmenu #tab-content-menus-tab  #main-menu li a:hover {
  background:#fff;
  color:#C61A1A;
}
#main #leftmenu-default #leftmenu #tab-content-menus-tab  #main-menu li a.selected,
#main #leftmenu-default #leftmenu #tab-content-menus-tab  #main-menu li a.selected:hover {
  background:#fff;
  color:#555;
}

/***** The projects tab *****/
#main #leftmenu-default #leftmenu #tab-content-projects-tab div#projects-tree {
    margin-left: -25px;
}
#main #leftmenu-default #leftmenu #tab-content-projects-tab ul ul {
    margin-bottom: 4px;
}
#main #leftmenu-default #leftmenu #tab-content-projects-tab li a {
    display: block;
    color: #2A5685;
    text-decoration: none;
    padding: 4px 10px 4px 0px;
    font-weight: normal;
}
#main #leftmenu-default #leftmenu #tab-content-projects-tab li a:hover {
    background: #fff;
    color: #C61A1A;
}
#main #leftmenu-default #leftmenu #tab-content-projects-tab li a.selected,
#main #leftmenu-default #leftmenu #tab-content-projects-tab li a.selected:hover {
    background: #fff;
    color: #555;
}

/******************** ALTERNATE THEME ********************/

/*****
* CSS for Collapse (Left)
*****/

/***** The box wherein the sidebar resides *****/
#main #leftmenu-alternate #leftmenu {
    float: left;
    min-height: 600px;
    padding: 0;
    position: relative;
    margin-right: 15px;
}

/***** The seperator between the box wherein the sidebar resides and the content *****/
#main #leftmenu-alternate #leftmenu #leftmenu-border {
    position: absolute;
    right: -5px;
    top: 23px;
    height: 95%;
    width: 5px;
    background-image: url(../images/border_collapse.gif);
    background-repeat: no-repeat;
    background-position: 0 90px;
    background-color: #CCCCCC;
    cursor:pointer;
}

/***** The actual sidebar wherein tabs reside *****/
#main #leftmenu-alternate #leftmenu #leftmenu-contents {
    margin-bottom: 5em;
    position: relative;
    width: 210px;
}

/*****
* CSS for Left Collapse Tabs
*****/

/***** The global tab layout *****/
#leftmenu-alternate #leftmenu .tabs {
    height: 1.92em;
    border-bottom: 1px solid #BBBBBB;
    position: relative;
}
#leftmenu-alternate #leftmenu .tab-content { margin-top: 1.2em; }

#leftmenu-alternate #leftmenu .tabs ul {
    margin: 0;
    position: absolute;
    bottom: -2px;
    padding-left: 6px;
}
#leftmenu-alternate #leftmenu .tabs>ul { bottom: -1px; } /* others */
#leftmenu-alternate #leftmenu .tabs ul li {
    float: left;
    list-style-type: none;
    margin-right: 4px;
    background: #FFF;
}
#leftmenu-alternate #leftmenu .tabs ul li a{
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 1.3em;
    padding: 4px 6px 4px 6px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #BBBBBB;
    background-color: #FFF;
    color: #777;
    font-weight: bold;
}
#leftmenu-alternate #leftmenu .tabs ul li a:hover {
    background-color: #FFFFDD;
    text-decoration: none;
}
#leftmenu-alternate #leftmenu .tabs ul li a.selected {
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    border-bottom: 1px solid #EEE;
}
#leftmenu-alternate #leftmenu .tabs ul li a.selected:hover {
    background-color: #EEE;
}

/***** The actions tab *****/
#main #leftmenu-alternate #leftmenu #tab-content-actions-tab {
}

/***** The menus tab *****/
#main #leftmenu-alternate #leftmenu #tab-content-menus-tab  #main-menu {
  margin-right: 0px;
  position: static;
}
#main #leftmenu-alternate #leftmenu #tab-content-menus-tab  #main-menu ul li {
  float:none;
  list-style-type:none;
}

#main #leftmenu-alternate #leftmenu #tab-content-menus-tab  #main-menu li a {
  display: block;
  color: #2A5685;
  background-color: #eee;
  text-decoration: none;
  padding: 4px 10px 4px 0px;
  font-weight: normal;
}
#main #leftmenu-alternate #leftmenu #tab-content-menus-tab  #main-menu li a:hover {
  background:#eee;
  color:#C61A1A;
}
#main #leftmenu-alternate #leftmenu #tab-content-menus-tab  #main-menu li a.selected,
#main #leftmenu-alternate #leftmenu #tab-content-menus-tab  #main-menu li a.selected:hover {
  background:#eee;
  color:#555;
}

/***** The projects tab *****/
#main #leftmenu-alternate #leftmenu #tab-content-projects-tab div#projects-tree {
    margin-left: -25px;
}
#main #leftmenu-alternate #leftmenu #tab-content-projects-tab ul ul {
    margin-bottom: 4px;
}
#main #leftmenu-alternate #leftmenu #tab-content-projects-tab li a {
    display: block;
    color: #2A5685;
    text-decoration: none;
    padding: 4px 10px 4px 0px;
    font-weight: normal;
}
#main #leftmenu-alternate #leftmenu #tab-content-projects-tab li a:hover {
    background: #eee;
    color: #C61A1A;
}
#main #leftmenu-alternate #leftmenu #tab-content-projects-tab li a.selected,
#main #leftmenu-alternate #leftmenu #tab-content-projects-tab li a.selected:hover {
    background: #eee;
    color: #555;
}

/******************** CLASSIC THEME ********************/

/*****
* CSS for Collapse (Left)
*****/

/***** The box wherein the sidebar resides *****/
#main #leftmenu-classic #leftmenu {
    float: left;
    min-height: 600px;
    padding: 0;
    position: relative;
    margin-right: 15px;
}

/***** The seperator between the box wherein the sidebar resides and the content *****/
#main #leftmenu-classic #leftmenu #leftmenu-border {
    position: absolute;
    right: -5px;
    top: 31px;
    height: 95%;
    width: 5px;
    background-image: url(../images/border_collapse.gif);
    background-repeat: no-repeat;
    background-position: 0 90px;
    background-color: #CCCCCC;
    cursor:pointer;
}

/***** The actual sidebar wherein tabs reside *****/
#main #leftmenu-classic #leftmenu #leftmenu-contents {
    margin-bottom: 5em;
    position: relative;
    width: 210px;
}

/*****
* CSS for Left Collapse Tabs
*****/

/***** The global tab layout *****/
#leftmenu-classic #leftmenu .tabs {
    height: 2.95em;
    border-bottom: 1px solid #BBBBBB;
    position: relative;
}
#leftmenu-classic #leftmenu .tab-content { margin-top: 1.2em; }

#leftmenu-classic #leftmenu .tabs ul {
    margin: 0;
    position: absolute;
    bottom: -2px;
    padding-left: 6px;
}
#leftmenu-classic #leftmenu .tabs>ul { bottom: -1px; } /* others */
#leftmenu-classic #leftmenu .tabs ul li {
    float: left;
    list-style-type: none;
    margin-right: 4px;
    background: #FFF;
}
#leftmenu-classic #leftmenu .tabs ul li a{
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 1.3em;
    padding: 4px 6px 4px 6px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #BBBBBB;
    background-color: #EEE;
    color: #777;
    font-weight: bold;
}
#leftmenu-classic #leftmenu .tabs ul li a:hover {
    background-color: #FFFFDD;
    text-decoration: none;
}
#leftmenu-classic #leftmenu .tabs ul li a.selected {
    background-color: #FFF;
    border: 1px solid #BBBBBB;
    border-bottom: 1px solid #FFF;
}
#leftmenu-classic #leftmenu .tabs ul li a.selected:hover {
    background-color: #FFF;
}

/***** The actions tab *****/
#main #leftmenu-classic #leftmenu #tab-content-actions-tab {
}

/***** The menus tab *****/
#main #leftmenu-classic #leftmenu #tab-content-menus-tab  #main-menu {
  margin-right: 0px;
  position: static;
}
#main #leftmenu-classic #leftmenu #tab-content-menus-tab  #main-menu ul li {
  float:none;
  list-style-type:none;
}

#main #leftmenu-classic #leftmenu #tab-content-menus-tab  #main-menu li a {
  display: block;
  color: #467AA7;
  background-color: #fff;
  text-decoration: none;
  padding: 4px 10px 4px 0px;
  font-weight: bold;
  font-size:100%;
}
#main #leftmenu-classic #leftmenu #tab-content-menus-tab  #main-menu li a:hover {
  background:#fff;
  color:#C61A1A;
}
#main #leftmenu-classic #leftmenu #tab-content-menus-tab  #main-menu li a.selected,
#main #leftmenu-classic #leftmenu #tab-content-menus-tab  #main-menu li a.selected:hover {
  background:#fff;
  color:#555;
}

/***** The projects tab *****/
#main #leftmenu-classic #leftmenu #tab-content-projects-tab div#projects-tree {
    margin-left: -25px;
}
#main #leftmenu-classic #leftmenu #tab-content-projects-tab ul ul {
    margin-bottom: 4px;
}
#main #leftmenu-classic #leftmenu #tab-content-projects-tab li a {
    display: block;
    color: #467AA7;
    text-decoration: none;
    padding: 4px 10px 4px 0px;
    font-weight: bold;
}
#main #leftmenu-classic #leftmenu #tab-content-projects-tab li a:hover {
    background: #fff;
    color: #C61A1A;
}
#main #leftmenu-classic #leftmenu #tab-content-projects-tab li a.selected,
#main #leftmenu-classic #leftmenu #tab-content-projects-tab li a.selected:hover {
    background: #fff;
    color: #555;
}

/******************** BASECAMP THEME ********************/

/*****
* CSS for Collapse (Left)
*****/

/***** The box wherein the sidebar resides *****/
#main #leftmenu-basecamp #leftmenu {
    float: left;
    min-height: 600px;
    padding: 0;
    position: relative;
    margin-right: 15px;
}

/***** The seperator between the box wherein the sidebar resides and the content *****/
#main #leftmenu-basecamp #leftmenu #leftmenu-border {
    position: absolute;
    right: -5px;
    top: 23px;
    height: 95%;
    width: 5px;
    background-image: url(../images/border_collapse.gif);
    background-repeat: no-repeat;
    background-position: 0 90px;
    background-color: #CCCCCC;
    cursor:pointer;
}

/***** The actual sidebar wherein tabs reside *****/
#main #leftmenu-basecamp #leftmenu #leftmenu-contents {
    margin-bottom: 5em;
    position: relative;
    width: 210px;
}

/*****
* CSS for Left Collapse Tabs
*****/

/***** The global tab layout *****/
#leftmenu-basecamp #leftmenu .tabs {
    height: 1.95em;
    border-bottom: 1px solid #BBBBBB;
    position: relative;
}
#leftmenu-basecamp #leftmenu .tab-content { margin-top: 1.2em; }

#leftmenu-basecamp #leftmenu .tabs ul {
    margin: 0;
    position: absolute;
    bottom: -2px;
    padding-left: 6px;
}
#leftmenu-basecamp #leftmenu .tabs>ul { bottom: -1px; } /* others */
#leftmenu-basecamp #leftmenu .tabs ul li {
    float: left;
    list-style-type: none;
    margin-right: 4px;
    background: #FFF;
}
#leftmenu-basecamp #leftmenu .tabs ul li a{
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 1.3em;
    padding: 4px 6px 4px 6px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #BBBBBB;
    background-color: #FFF;
    color: #777;
    font-weight: bold;
}
#leftmenu-basecamp #leftmenu .tabs ul li a:hover {
    background-color: #FFFFDD;
    text-decoration: none;
}
#leftmenu-basecamp #leftmenu .tabs ul li a.selected {
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    border-bottom: 1px solid #EEE;
}
#leftmenu-basecamp #leftmenu .tabs ul li a.selected:hover {
    background-color: #EEE;
}

/***** The actions tab *****/
#main #leftmenu-basecamp #leftmenu #tab-content-actions-tab {
}

/***** The menus tab *****/
#main #leftmenu-basecamp #leftmenu #tab-content-menus-tab  #main-menu {
  margin-right: 0px;
  position: static;
}
#main #leftmenu-basecamp #leftmenu #tab-content-menus-tab  #main-menu ul li {
  float:none;
  list-style-type:none;
}

#main #leftmenu-basecamp #leftmenu #tab-content-menus-tab  #main-menu li a {
  display: block;
  color: #2A5685;
  text-decoration: none;
  padding: 4px 10px 4px 0px;
  font-weight: normal;
}
#main #leftmenu-basecamp #leftmenu #tab-content-menus-tab  #main-menu li a:hover {
  background:#fff;
  color:#C61A1A;
}
#main #leftmenu-basecamp #leftmenu #tab-content-menus-tab  #main-menu li a.selected,
#main #leftmenu-basecamp #leftmenu #tab-content-menus-tab  #main-menu li a.selected:hover {
  background:#fff;
  color:#555;
}

/***** The projects tab *****/
#main #leftmenu-basecamp #leftmenu #tab-content-projects-tab div#projects-tree {
    margin-left: -25px;
}
#main #leftmenu-basecamp #leftmenu #tab-content-projects-tab ul ul {
    margin-bottom: 4px;
}
#main #leftmenu-basecamp #leftmenu #tab-content-projects-tab li a {
    display: block;
    color: #2A5685;
    text-decoration: none;
    padding: 4px 10px 4px 0px;
    font-weight: normal;
}
#main #leftmenu-basecamp #leftmenu #tab-content-projects-tab li a:hover {
    background: #fff;
    color: #C61A1A;
}
#main #leftmenu-basecamp #leftmenu #tab-content-projects-tab li a.selected,
#main #leftmenu-basecamp #leftmenu #tab-content-projects-tab li a.selected:hover {
    background: #fff;
    color: #555;
}

/******************** SQUEEJEE THEME ********************/

/*****
* CSS for Collapse (Left)
*****/

/***** The box wherein the sidebar resides *****/
#main #leftmenu-squeejee #leftmenu {
    float: left;
    min-height: 600px;
    padding: 0;
    position: relative;
    margin-right: 15px;
}

/***** The seperator between the box wherein the sidebar resides and the content *****/
#main #leftmenu-squeejee #leftmenu #leftmenu-border {
    position: absolute;
    right: -5px;
    top: 38px;
    height: 95%;
    width: 5px;
    background-image: url(../images/border_collapse.gif);
    background-repeat: no-repeat;
    background-position: 0 90px;
    background-color: #CCCCCC;
    cursor:pointer;
}

/***** The actual sidebar wherein tabs reside *****/
#main #leftmenu-squeejee #leftmenu #leftmenu-contents {
    margin-bottom: 5em;
    position: relative;
    width: 210px;
}

/*****
* CSS for Left Collapse Tabs
*****/

/***** The global tab layout *****/
#leftmenu-squeejee #leftmenu .tabs {
    height: 2.90em;
    border-bottom: 1px solid #BBBBBB;
    position: relative;
}
#leftmenu-squeejee #leftmenu .tab-content { margin-top: 1.2em; }

#leftmenu-squeejee #leftmenu .tabs ul {
    margin: 0;
    position: absolute;
    bottom: -2px;
    padding-left: 6px;
}
#leftmenu-squeejee #leftmenu .tabs>ul { bottom: -1px; } /* others */
#leftmenu-squeejee #leftmenu .tabs ul li {
    float: left;
    list-style-type: none;
    margin-right: 4px;
    background: #FFF;
}
#leftmenu-squeejee #leftmenu .tabs ul li a{
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 1.3em;
    padding: 4px 6px 4px 6px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #BBBBBB;
    background-color: #E0E0E0;
    color: #777;
    font-weight: bold;
}
#leftmenu-squeejee #leftmenu .tabs ul li a:hover {
    background-color: #FFFFDD;
    text-decoration: none;
}
#leftmenu-squeejee #leftmenu .tabs ul li a.selected {
    background-color: #333;
    color: #8C8C8C;
    border: 1px solid #BBBBBB;
    border-bottom: 1px solid #333;
}
#leftmenu-squeejee #leftmenu .tabs ul li a.selected:hover {
    background-color: #333;
}

/***** The global tab design *****/
#main #leftmenu-squeejee #leftmenu h1,
#main #leftmenu-squeejee #leftmenu h2,
#main #leftmenu-squeejee #leftmenu h3,
#main #leftmenu-squeejee #leftmenu h4,
#main #leftmenu-squeejee #leftmenu h5 {
    color: #efefef;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}

#main #leftmenu-squeejee #leftmenu {
    color: #ccc;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

/***** The actions tab *****/
#main #leftmenu-squeejee #leftmenu #tab-content-actions-tab {
}

/***** The menus tab *****/
#main #leftmenu-squeejee #leftmenu #tab-content-menus-tab  #main-menu {
  margin-right: 0px;
  position: static;
}
#main #leftmenu-squeejee #leftmenu #tab-content-menus-tab  #main-menu ul li {
  float:none;
  list-style-type:none;
}

#main #leftmenu-squeejee #leftmenu #tab-content-menus-tab  #main-menu li a {
  display: block;
  color: #2A5685;
  text-decoration: none;
  padding: 4px 10px 4px 0px;
  font-weight: normal;
}
#main #leftmenu-squeejee #leftmenu #tab-content-menus-tab  #main-menu li a:hover {
  background:#fff;
  color:#C61A1A;
}
#main #leftmenu-squeejee #leftmenu #tab-content-menus-tab  #main-menu li a.selected,
#main #leftmenu-squeejee #leftmenu #tab-content-menus-tab  #main-menu li a.selected:hover {
  background:#fff;
  color:#555;
}

/***** The projects tab *****/
#main #leftmenu-squeejee #leftmenu #tab-content-projects-tab div#projects-tree {
    margin-left: -25px;
}
#main #leftmenu-squeejee #leftmenu #tab-content-projects-tab ul ul {
    margin-bottom: 4px;
}
#main #leftmenu-squeejee #leftmenu #tab-content-projects-tab li a {
    display: block;
    color: #2A5685;
    text-decoration: none;
    padding: 4px 10px 4px 0px;
    font-weight: normal;
}
#main #leftmenu-squeejee #leftmenu #tab-content-projects-tab li a:hover {
    background: #fff;
    color: #C61A1A;
}
#main #leftmenu-squeejee #leftmenu #tab-content-projects-tab li a.selected,
#main #leftmenu-squeejee #leftmenu #tab-content-projects-tab li a.selected:hover {
    background: #fff;
    color: #555;
}
